@page "/user"
@page "/user/{id:int}"
@inject IUserServices UserServices
@inject NavigationManager Navigation

<h3 class="my-3">Form</h3>
<form class="form-control" @onsubmit="HandleSubmit">
    <label id="first-name">First name</label>
    <input @bind-value="user.FirstName" placeholder="firstname" id="first-name" class="w-100 my-2" />
    <label id="first-name">Last name</label>
    <input @bind-value="user.LastName" placeholder="lasttname" id="last-name" class="w-100 my-2" />
    <label id="email">Email</label>
    <input @bind-value="user.Email" placeholder="firstname" id="email" class="w-100 my-2" />
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="Deleteuser">Delete</button>
</form>
<div class="p-3 rounded">
    <button class="btn btn-danger float-end mx-2" @onclick="WayBackHome">Back</button>
</div>

